.planogram-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'HelveticaforTarget';
    font-size: 25px;
}

.planogram-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-bottom: 1px solid #E3E3E3;
}

.left-container {
    display: flex;
    align-items: center;
}

.icon-name {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px; 
    height: 24px;
    margin-right: 8px;

}

.name {
    font-size: 20px; 
    font-weight: bold;
    font-family: 'HelveticaforTarget';
}

.right-container {
    display: flex;
    align-items: center;
}

.logout-button {
    font-size: 18px;
    font-family: 'HelveticaforTarget';
    font-weight: bold;
}

.main-body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 40px;
}

.main-body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 40px;
    position: relative;
    transition: filter 0.3s ease; 
  }
  
  .main-body.dimmed {
    filter: blur(2px) brightness(0.5); 
  }
  