@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

@font-face {
    font-family: 'HelveticaforTarget';
    src: url('./assets/fonts/HelveticaforTarget.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaforTarget';
    src: url('./assets/fonts/HelveticaforTarget-Bold.ttf') format('tff');
    font-weight: bold;
    font-style: normal;
  }