.planogram-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;  /* Add position relative if not already there */
  z-index: 1;  /* Ensure z-index is lower than the overlay */
}

.grid {
  display: grid;
}

.slot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  border-radius: 7px;
  background-color: #f9f9f9;
  position: relative;
}

.product-rectangle {
  background-color: rgb(173, 172, 172);
  border-radius: 4px;
  border: solid 1px;
}

.empty-slot {
  font-size: 14px;
  color: #bbb;
  margin: 36%;
  white-space: nowrap;
}
